In [1]:
import pandas as pd
import getpass
import sqlalchemy as sa

Establish a connection between Python and the Sakila database.

In [2]:
driver = 'mysql+pymysql'
user = 'root'
password = getpass.getpass(prompt='Your password:'"")
ip = '127.0.0.1'

Your password:········

In [3]:
connection_string = f'{driver}://{user}:{password}@{ip}'

In [4]:
connection_string

'mysql+pymysql://root:renito0108@127.0.0.1'

In [5]:
db_connection = sa.create_engine(connection_string)

In [6]:
insp = sa.inspect(db_connection)
db_list = insp.get_schema_names()
print(db_list)

['bank', 'information_schema', 'lab_db_python_sql', 'mysql', 'performance_schema', 'sakila', 'sys']

In [9]:
query="SELECT * FROM sakila.actor_info"
actor_info = pd.read_sql_query(query, db_connection)
actor_info

,actor_id,first_name,last_name,film_info
0,1,PENELOPE,GUINESS,Animation: ANACONDA CONFESSIONS; Children: LAN...
1,2,NICK,WAHLBERG,Action: BULL SHAWSHANK; Animation: FIGHT JAWBR...
2,3,ED,CHASE,"Action: CADDYSHACK JEDI, FORREST SONS; Classic..."
3,4,JENNIFER,DAVIS,Action: BAREFOOT MANCHURIAN; Animation: ANACON...
4,5,JOHNNY,LOLLOBRIGIDA,"Action: AMADEUS HOLY, GRAIL FRANKENSTEIN, RING..."
...,...,...,...,...
195,196,BELA,WALKEN,Action: FANTASY TROOPERS; Animation: LUKE MUMM...
196,197,REESE,WEST,Action: ANTITRUST TOMATOES; Animation: DOORS P...
197,198,MARY,KEITEL,"Action: FANTASY TROOPERS, FORREST SONS, HANDIC..."
198,199,JULIA,FAWCETT,"Action: BERETS AGENT; Animation: LUKE MUMMY, T..."
199,200,THORA,TEMPLE,Animation: CAROL TEXAS; Children: CHRISTMAS MO...

Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. The function should take in three parameters:

engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.
month: an integer representing the month for which rental data is to be retrieved.
year: an integer representing the year for which rental data is to be retrieved.
The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table in the Sakila database, and return it as a pandas DataFrame.

In [16]:
query="SELECT * FROM sakila.film"
film = pd.read_sql_query(query, db_connection)
film

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,None,6,0.99,183,9.99,G,"Trailers,Behind the Scenes",2006-02-15 05:03:42
996,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2006,1,None,4,0.99,179,14.99,NC-17,"Trailers,Behind the Scenes",2006-02-15 05:03:42
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,1,None,6,0.99,105,10.99,NC-17,Deleted Scenes,2006-02-15 05:03:42
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,1,None,5,2.99,101,28.99,R,"Trailers,Deleted Scenes",2006-02-15 05:03:42
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,None,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42

In [ ]:
def rentals_month(engine, month, year):
    query = "SELECT * FROM rental WHERE MONTH(rental_date) = " + str(month) + " AND YEAR(rental_date) = " + str(year)
    df = pd.read_sql(query, engine)
    return df

In [15]:
# Assuming you have already established a database connection engine
rentals = rentals_month(db_connection, 6, 2023)  # Retrieve rental data for June 2023

# Print the resulting DataFrame
print(rentals)

OperationalError: (pymysql.err.OperationalError) (1046, 'No database selected')
[SQL:
        SELECT *
        FROM rental
        WHERE EXTRACT(MONTH FROM rental_date) = 6
        AND EXTRACT(YEAR FROM rental_date) = 2023
    ]
(Background on this error at: https://sqlalche.me/e/14/e3q8)